.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #b3a0fa; 
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b3a0fa; 
}